<!-- <div class="panel panel-default" ng-init="getBooks()" >
    <div class="panel-heading">
      <h5 class="panel-title">Latest Books</h5>
      </div>
      <div class="panel-body">
          <div class="row">
              <div ng-repeat="book in books">
                  <div class="col-md-3">
                      <div class="col-md-6">
                        {{book.title}}
                        <p>{{book.description}}</p>            
                      </div>
                  </div>
                  <div class="col-md-6">
                          <img src="{{book.view_url}}">
                </div>
              </div>
          </div>
      </div>
    </div>
  </div> -->

  <div  ng-init="getBooks()">
    <div class="col-md-6">
            <div ng-repeat="book in books">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-primary"></strong>
          <h3 class="mb-0">
            <a class="text-dark" href="#">Featured post</a>
          </h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#">Continue reading</a>
        </div>
        <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Card image cap">
      </div>
    </div>
    </div>
</div>